body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Cabin-Regular";
  src: local("Cabin-Regular"),
    url("./fonts/Cabin/static/Cabin/Cabin-Regular.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Cabin-Bold";
  src: local("Cabin-Bold"),
    url("./fonts/Cabin/static/Cabin/Cabin-Bold.ttf") format("truetype");
  font-weight: bold;
}
